<ion-app>
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            <ion-icon src='../assets/icon/graphic_eq.svg' size='small' >
            </ion-icon>
            <ion-text color='medium'>Klick</ion-text><ion-text color='primary'>Track</ion-text>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header>
            <ion-icon name='home' size='small' slot='start'></ion-icon>
              <ion-text>
                Data Viz Dashboard
              </ion-text>

          </ion-list-header>
        </ion-list>


        <ion-accordion-group>
          <ion-accordion *ngFor='let category of categories'>
            <ion-item slot='header' [routerLink]='category.url'>
              <ion-label>
                <b>
                  <ion-text color='primary' class='ion-text-uppercase'>
                    {{category.name}}
                  </ion-text>
                </b>
              </ion-label>
            </ion-item>
            <div slot='content'>
              <ion-list lines='none' >
                  <ion-menu-toggle>
                  <ion-item button [routerLink]='child.url' *ngFor='let child of category.children'>
                    <ion-label>
                      <ion-text class='ion-text-capitalize'>
                        {{child.name}}
                      </ion-text>
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
                </ion-list>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-app>
