<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>DataViz Dashboard</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>

          <ion-text>
            I put several of the graphs here. They are all interactive now, but npothing like what they  can be. The other pages show the structure of the pages that allows a user to  buld thier own report but have a fully functioning one to start. There are tables and the tables can have graphs and they can accordian out for master/detail. The widgets will be sizable movable and deleteable, as well as full interactive with time , etc. These are angular components so this is not a wrapper as mentioned before. This is more advanced, safe and built for angular specifically, and free. It has every feature that any other set has. It has come a long way since I saw it last.
          </ion-text>
        </ion-card-content>
        </ion-card>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <app-bar-chart-vertical></app-bar-chart-vertical>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <app-number-cards-chart> </app-number-cards-chart>
          </ion-card-content>
        </ion-card>

        <ion-card id="table">
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <app-area-chart></app-area-chart>
          </ion-card-content>
        </ion-card>

        <ion-card id="table">
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <app-bar-chart-vertical></app-bar-chart-vertical>
          </ion-card-content>
        </ion-card>

        <ion-card id="table">
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <app-bubble-chart></app-bubble-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card id="table">
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <app-grouped-horizontal-bar-chart></app-grouped-horizontal-bar-chart>
          </ion-card-content>
        </ion-card>

        <ion-card id="table">
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <app-grouped-vertical-bar-chart></app-grouped-vertical-bar-chart>
          </ion-card-content>
        </ion-card>

        <ion-card id="table">
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <app-heat-map-chart></app-heat-map-chart>
          </ion-card-content>
        </ion-card>

        <ion-card id="table">
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <app-line-bar-chart></app-line-bar-chart>
          </ion-card-content>
        </ion-card>

        <ion-card id="table">
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <app-lines-chart></app-lines-chart>
          </ion-card-content>
        </ion-card>

        <ion-card id="table">
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <app-pie-chart-grid></app-pie-chart-grid>
          </ion-card-content>
        </ion-card>

        <ion-card id="table">
          <ion-card-header>
            <ion-card-title> Title </ion-card-title>
            <ion-card-subtitle> Subtitle </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <app-normalized-area-chart></app-normalized-area-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
